@import '../node_modules/bootstrap-icons/font/bootstrap-icons.css';
/* Global CSS edits */
::selection {
  background-color: #d1200986;
}

#root {
  min-height: 100vh;
  background-color: #e4d8cc;
}

*{
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.46);
  border: transparent;
}
